*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  font-family: "Smythe", sans-serif;
}

ul {
  list-style: none;
}

.header {
  width: 37.5rem;
  height: 167px;
  background-image: url("./assets/images/restaurant-ordering-hero-img.jpg");
  background-position: center -155px;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 2.5rem;
  color: white;
}

.header__title,
.header__subtitle {
  font-weight: 400;
}

.header__title {
  font-size: 39px;
}

.header__subtitle {
  font-size: 22.42px;
}

.main {
}

.menu {
  display: flex;
  flex-direction: column;
  margin-top: 67px;
}

.items {
  border-bottom: 1.5px solid rgba(222, 222, 222, 1);
  margin: 1rem 0 1rem 46px;
  width: 508px;
}

.item {
  display: flex;
  align-items: center;
  position: relative;
  /* justify-content: space-between; */
}

.item__emoji {
  font-size: 78.72px;
}

.item__description {
  display: flex;
  flex-direction: column;
  margin-left: 31px;
  margin-top: -10px;
  gap: 8px;
}

.item__name {
  font-size: 28px;
}

.item__ingredients {
  color: rgba(139, 139, 139, 1);
}

.add-btn {
  width: 50px;
  height: 50px;
  border: 1.5px solid rgba(222, 222, 222, 1);
  border-radius: 50%;
  background-color: inherit;
  position: absolute;
  top: 8px;
  right: 0;
  outline: none;
  cursor: pointer;
}

.add-btn::before {
  content: "+";
  font-weight: 200;
  font-size: 32px;
  position: absolute;
  top: 44%;
  left: 51.5%;
  /*Using transform here to bypass the positioning conflict on the parent element*/
  transform: translate(-50%, -50%);
  font-family: "Inter", sans-serif;
}

.line-container {
}

.vertical {
}

.horizontal {
}
