*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  font-family: "Smythe", sans-serif;
}

ul {
  list-style: none;
}

/* .container {
  position: relative;
} */

.header {
  width: 37.5rem;
  height: 167px;
  background-image: url("./assets/images/restaurant-ordering-hero-img.jpg");
  background-position: center -155px;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 2.5rem;
  color: white;
}

.header__title,
.header__subtitle {
  font-weight: 400;
}

.header__title {
  font-size: 39px;
}

.header__subtitle {
  font-size: 22.42px;
}

.main {
}

#menu {
  display: flex;
  flex-direction: column;
  margin-top: 67px;
}

.items {
  border-bottom: 1.5px solid rgba(222, 222, 222, 1);
  margin: 1rem 0 1rem 46px;
  width: 508px;
}

.item {
  display: flex;
  align-items: center;
  position: relative;
  /* justify-content: space-between; */
}

.item__emoji {
  font-size: 78.72px;
}

.item__description {
  display: flex;
  flex-direction: column;
  margin-left: 31px;
  margin-top: -10px;
  gap: 8px;
}

.item__name {
  font-size: 28px;
}

.item__ingredients {
  color: rgba(139, 139, 139, 1);
}

.add-btn {
  width: 50px;
  height: 50px;
  border: 1.5px solid rgba(222, 222, 222, 1);
  border-radius: 50%;
  background-color: inherit;
  position: absolute;
  top: 8px;
  right: 0;
  outline: none;
  cursor: pointer;
}

.add-btn::before {
  content: "+";
  font-weight: 200;
  font-size: 32px;
  position: absolute;
  top: 44%;
  left: 51.5%;
  /*Using transform here to bypass the positioning conflict on the parent element*/
  transform: translate(-50%, -50%);
  font-family: "Inter", sans-serif;
}

#order {
  width: 508px;
  margin: 45px auto;
  padding-bottom: 5rem;
}

.hidden {
  display: none;
}

.order__heading {
  text-align: center;
  margin-bottom: 34px;
}

.order__list {
}

.order-item {
}

.order-item__info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 22px;
}

.order-item__name {
  font-size: 28px;
  font-weight: 400;
}

.remove-btn {
  outline: none;
  border: none;
  background-color: inherit;
  cursor: pointer;
  color: rgba(187, 187, 187, 1);
  font-weight: 600;
  margin-left: 13px;
}

.order-item__price {
  font-size: 20px;
}

.total-price {
  display: flex;
  justify-content: space-between;
  border-top: 2px solid rgba(57, 51, 51, 1);
  padding: 1rem 0;
  font-size: 28px;
}

.total-price__amount {
  font-size: 20px;
}

.order__button {
  text-align: center;
  display: block;
  width: 100%;
  background-color: rgba(22, 219, 153, 1);
  border: none;
  color: rgba(255, 255, 255, 1);
  padding: 1.2rem;
  font-weight: 700;
  font-size: 16px;
  border-radius: 3px;
  margin-top: 53px;
  cursor: pointer;
}

#pay-modal {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: white;
  box-shadow: 0px 0px 20px 2px #867e7e;
  border-radius: 1.3px;
  color: black;
  width: 524px;
  height: 542px;
  margin: auto;
  padding: 3rem;
}

.blur {
  opacity: 0.7;
}

.modal-heading {
  font-weight: 700;
  font-size: 24px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-align: center;
}

.payment-form {
  display: flex;
  flex-direction: column;
  margin-top: 30px;
}

.input-field {
  padding: 1rem;
  margin: 23.22px 0;
  font-size: 20px;
}

.pay-btn {
  background-color: rgba(22, 219, 153, 1);
  border: none;
  color: rgba(255, 255, 255, 1);
  padding: 1.2rem;
  font-weight: 700;
  font-size: 20px;
  border-radius: 3px;
  margin-top: 30px;
  cursor: pointer;
}
